<!DOCTYPE html>
<html>
<head>       
<title>Inventory Management System - Home-Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  

</head>
body{
  background-position: center;
  background-size: cover;
}
</style>
<body style="background-color:black;">
  
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <center>
    <h1 style='font-family:sans-serif;'><font color='white'><font size='5'><br><br><br><br>WELCOME TO INVENTORY MANAGEMENT SYSTEM</font></h1>
     Go To Inventory Click <a href="/summary"> here!</a>
     </center>



</body>
</html>